@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-Roboto text-base text-[#000000DE] leading-[1.5] font-normal;
  }
}

@layer components {
  .container {
    @apply max-w-[1480px] px-4 mx-auto w-full;
  }

  .image {
    @apply block object-cover max-w-full transition-all duration-300 size-full hover:scale-110;
  }
}

@layer utilities {
  .text-shadow-gold {
    text-shadow: rgb(255, 215, 0) 1px 1px 0px, rgba(0, 0, 0, 0.1) 0px 2px 6px;
  }

  .text-shadow-event {
    text-shadow: rgba(0, 0, 0, 0.63) 2px 2px 2px;
  }

  .shadow-search {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
  }

  .shadow-search-hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
  }

  .shadow-submit {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  .shadow-submit-hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
      rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  }

  .shadow-box-event {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .shadow-box-event-hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  }

  .shadow-chitiet {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  .text-shadow-title-dialog {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .shadow-img-dialog {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .shadow-box-timeline {
    box-shadow: rgba(0, 0, 0, 0.2) -6px -2px 4px,
      rgba(0, 0, 0, 0.15) 0px 4px 8px, rgba(0, 0, 0, 0.1) 0px 8px 16px,
      rgba(0, 0, 0, 0.05) 0px 16px 32px;
  }

  .shadow-map {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .shadow-footer {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
}
